<div class="container m-5" >

    <h1 class="text-center mb-5 bg-black text-white fw-bolder p-4">Add Student</h1>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="firstName"  aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="Address" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      
      <div class="row mb-3" >
        <div class="col">
          <input type="text" class="form-control" placeholder="Date Of Birthday" aria-label="First name">
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="Religion" aria-label="Last name">
        </div>
      </div>

      <div class="row input-group mb-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Email" aria-label="Email">
        </div>
   
        <div class="col">
        <select class="form-select" aria-label="Default select example">
          <option selected>Gender</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
    </div>
    </div>

      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Phone Number" aria-label="First name">
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="City" aria-label="Last name">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Postal Code" aria-label="First name">
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="Zip code" aria-label="Last name">
        </div>
      </div>

      <button type="button" class="btn btn-success" (click)="addStudent()">Add Student</button>

</div>
