<app-nav></app-nav>
<div class="container " >
    <h1 class="text-center mb-5 bg-black text-white fw-bolder p-4">Add Student</h1>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="studentObj.firstName"  aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="studentObj.lastName" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="Address" [(ngModel)]="studentObj.address" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      
      <div class="row mb-3" >
        <div class="col">
          <input type="text" class="form-control" placeholder="Date Of Birthday" [(ngModel)]="studentObj.dob" aria-label="First name">
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="Religion" [(ngModel)]="studentObj.religion" aria-label="Last name">
        </div>
      </div>

      <div class="row input-group mb-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Email" [(ngModel)]="studentObj.email" aria-label="Email">
        </div>
   
        <div class="col">
        <select class="form-select" id="gender" [(ngModel)]="studentObj.gender" aria-label="Default select example" >
          <option selected>Gender</option>
          <option>Femail</option>
          <option>Mail</option>
        </select>
    </div>
    </div>

      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="studentObj.phoneNumber" aria-label="First name">
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="City" [(ngModel)]="studentObj.city" aria-label="Last name">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Postal Code" [(ngModel)]="studentObj.postalCode" aria-label="First name">
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="Zip code" [(ngModel)]="studentObj.zipCode" aria-label="Last name">
        </div>
      </div>

      <button type="button" class="btn btn-success" (click)="addStudent()">Add Student</button>

</div>
