<ul class="nav justify-content-center">
    <li class="nav-item">
      <button class="nav-link active" aria-current="page" >Active</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [routerLink]="['/add-student']">Add Student</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [routerLink]="['/view-all-student']">View All Student</button>
    </li>
    <li class="nav-item">
      <button class="nav-link disabled" aria-disabled="true">Disabled</button>
    </li>
  </ul>
